asgiref==3.2.9
autopep8==1.5.3
certifi==2020.4.5.2
chardet==3.0.4
Django==3.1.9
django-cors-headers==3.4.0
django-oauth-toolkit==1.3.2
djangorestframework==3.11.0
idna==2.9
oauthlib==3.1.0
Pillow==7.1.2
pycodestyle==2.6.0
pytz==2020.1
requests==2.24.0
robotframework==3.2.1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==4.4.0
selenium==3.141.0
sqlparse==0.3.1
toml==0.10.1
urllib3==1.25.9
