@import '_valiables.scss';

.login-page {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.bg-top {
  @extend %w-100;
  position: absolute;
  top: 0;
}
.bg-bottom {
  @extend %w-100;
  position: absolute;
  bottom: 0;
}

.login-container {
  @extend %pos-center;
  @extend %border-8;
  @extend %flex-row;
  @extend %shadow-low;
  @extend %transition-3;
  background-color: $light;
  position: absolute;
  overflow: hidden;
  &:hover {
    @extend %shadow-high;
  }
}

.login-banner {
  @extend %pd-20;
  @extend %flex-col;
  @extend %ju-ai-c;
  border: 2px solid $primary;
  border-right: none;
  border-radius: 8px 0 0 8px;
  background: #ffffff80 0% 0% no-repeat padding-box;
  position: relative;
  .bg-banner {
    @extend %w-100;
    min-width: 300px;
    max-width: 400px;
  }
}

.form-container {
  @extend %flex-col;
  @extend %pd-20;
  @extend %shadow-low;
  @extend %transition-3;
  background: $light 0% 0% no-repeat padding-box;
  min-width: 300px;
  min-height: 310px;
  user-select: none;
  &:hover {
    @extend %shadow-high;
  }
}

.login-form {
  @extend %flex-col;
  @extend %ju-ai-c;
  @extend %w-100;
  > .header {
    @extend %flex-row;
    @extend %ju-ai-c;
    @extend %mg-10;
    p {
      @extend %font-header;
      @extend %fw-600;
    }
    .fa-sign-in-alt {
      width: 25px;
      height: 25px;
      margin-left: 10px;
    }
  }
  > .input {
    @extend %w-100;
    @extend %mg-10;
    position: relative;
    > input {
      @extend %font-text;
      @extend %w-100;
      @extend %border-8;
      padding: 10px;
      border: none;
      background: #f8f8f8 0% 0% no-repeat padding-box;
      &:focus {
        background-color: #f1f1f1;
      }
    }
  }
  > .error-label {
    @extend %shadow-low;
    @extend %fw-600;
    @extend %border-8;
    @extend %transition-3;
    @extend %font-text;
    margin: 10px 0;
    background-color: $danger;
    color: $light;
    padding: 5px 10px;
    transform: translateX(0px);
  }
}

.btn-block {
  @extend %flex-row;
  @extend %mg-10;
  justify-content: space-between;
}

.forgot-button {
  @extend %font-btn;
  @extend %transition-3;
  background-color: transparent;
  color: $danger !important;
  text-decoration: none !important;
  transform: translateX(0px);
  &::after {
    @extend %transition-3;
    margin-top: 5px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $danger;
  }
  &:hover {
    transform: translateX(2px);
    &::after {
      @extend %w-100;
    }
  }
}
.signin-button {
  @extend %flex-row;
  @extend %ju-ai-c;
  @extend %font-btn;
  @extend %border-8;
  cursor: pointer;
  @extend %shadow-low;
  @extend %transition-3;
  padding: 8px 15px;
  background-color: $success;
  color: white;
  font-weight: 600;
  border: none;
  background: $primary 0% 0% no-repeat padding-box;
  outline: none !important;
  transform: translateY(0px);
  &:hover {
    @extend %shadow-high;
    transform: translateY(-3px);
  }
  &:active {
    @extend %shadow-low;
    transform: translateY(0px);
  }
  > .fa-sign-in-alt {
    width: 15px;
    height: 15px;
    margin-left: 10px;
  }
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .login-container {
    flex-direction: column;
  }

  .login-banner {
    border: 2px solid $primary;
    border-radius: 8px 8px 0 0;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}
