.sidebar-container {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  > .brand-container {
    background-color: #5957b9;
    display: flex;
    align-items: center;
    // @extend %shadow-high;
    h1 {
      padding: 10px;
      transform: rotateZ(180deg) translateX(3px);
      writing-mode: tb;
      color: white;
      font-weight: 500;
      font-size: 34px;
    }
  }
  > .menu-container {
    background-color: #fff;
    // @extend %shadow-high;
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.25);
    max-width: 60px;
    transition: all 1s;
    overflow: hidden;
    &.active {
      //   max-width: none;
      transition: max-width 1s;
      max-width: 100%;

      .user-image {
        width: 100px !important;
        height: 100px !important;
        transition: all .5s;
      }
      .btn-container {
      }
      .user-container {
        transition: all 1s;
        p {
          writing-mode: unset;
          transform: unset;
          display: unset;
        }
      }
    }

    > .user-container {
      min-height: 350px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      transition: all .5s;
      p {
        writing-mode: tb;
        transform: rotateZ(180deg) translateX(3px);
      }
      > .user-image {
        width: 40px;
        height: 40px;
        margin: 10px;
        transition: all 1s;
      }
      > .user-username {
        margin: 10px;
      }
      > .user-role {
        margin: 10px;
      }
      > .user-email {
        margin: 10px;
        display: none;
      }
    }

    > .btn-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      button {
        cursor: pointer;
        width: 100%;
        display: flex;
        color: white;
        background-color: #fff;
        border: none;
        outline: none;
        padding: 10px 20px;
        min-width: 200px;
        color: #5957b9;
        align-items: center;
        justify-content: space-between;
        &.active {
          color: #fff;
          background-color: #5957b9;
          border-radius: 30px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        @extend %transition-3;
        transform: translateY(0px);
        &:hover {
          box-shadow: 0 5px 1px #3c3a7e;
          transform: translateY(-5px);
        }
        &:active {
          transform: translateY(0px);
          box-shadow: 0 0 0 #5957b9;
        }
      }
      .fa-home,
      .fa-image,
      .fa-location-arrow,
      .fa-receipt,
      .fa-history {
        width: 20px;
        height: 20px;
      }
    }
    > .toggle-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      button {
        cursor: pointer;
        border-radius: 50%;
        background-color: #5957b9;
        border: none;
        outline: none;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        .fa-chevron-left,
        .fa-chevron-right {
          width: 20px;
          height: 20px;
          color: white;
        }

        @extend %transition-3;
        transform: translateY(0px);
        &:hover {
          box-shadow: 0 5px 1px #3c3a7e;
          transform: translateY(-5px);
        }
        &:active {
          transform: translateY(0px);
          box-shadow: 0 0 0 #5957b9;
        }
      }
    }
  }
}
