@import '_reset.scss';
@import './pages/_login.scss';
@import './pages/_dashboard.scss';
@import './components/_navbar.scss';
@import './components/_sidebar.scss';
@import './components/_layout.scss';
@import './components/_menuoverlay.scss';
@import './components/_table.scss';

*,body {
  font-family: 'Poppins', sans-serif;
}
