@import '../valiables.scss';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login-page {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  user-select: none;
  > .top-bg {
    @extend %w100;
    position: absolute;
    top: 0;
    height: 300px;
    > div {
      // background-size: 100% 100px !important;
      background-size: 100% !important;
      background-position: top center !important;
    }
  }
  > .bottom-bg {
    @extend %w100;
    position: absolute;
    bottom: 0;
    height: 300px;
    > div {
      // background-size: 100% 100px !important;
      background-position: bottom center !important;
      background-size: 100% !important;
    }
  }
}

.login-container {
  @extend %pos-center;
  @extend %bdrs8;
  @extend %flex-row;
  @extend %shadow-low;
  background-color: $light;
  position: absolute;
  overflow: hidden;
  // &:hover {
  //   @extend %shadow-high;
  // }
  z-index: 10;
  background-color: rgb(175, 170, 248);
  border: 2px solid $primary;
}

.login-banner {
  @extend %pd20;
  @extend %flex-col;
  @extend %jcc-aic;

  background: #ffffff80 0% 0% no-repeat padding-box;
  position: relative;
  border: none !important;
}

.bg-banner {
  @extend %w100;
  min-width: 300px;
  max-width: 400px;
  min-height: 260px;
  > div {
    background-size: contain !important;
  }
}

.form-container {
  @extend %flex-col;
  @extend %pd20;
  @extend %shadow-low;
  @extend %transition-3;
  background: $light 0% 0% no-repeat padding-box;
  min-width: 300px;
  min-height: 300px;
  user-select: none;
}

.login-form {
  @extend %flex-col;
  @extend %jcc-aic;
  @extend %w100;

  > .header {
    @extend %flex-row;
    @extend %jcc-aic;
    @extend %mg10;
    p {
      @extend %font-header;
      @extend %fw600;
    }
    .fa-sign-in-alt {
      width: 25px;
      height: 25px;
      margin-left: 10px;
    }
  }
  > .input {
    @extend %w100;
    @extend %mg10;
    // padding: 0 20px;
    position: relative;
    > input {
      @extend %font-text;
      @extend %w100;
      @extend %bdrs8;
      padding: 10px;
      border: none;
      background: #f8f8f8 0% 0% no-repeat padding-box;
      &:focus {
        background-color: #f1f1f1;
      }
    }
  }
  > .error-label {
    @extend %shadow-low;
    @extend %fw600;
    @extend %bdrs8;
    transition: all 0.2s;
    @extend %font-text;
    margin: 10px 0;
    background-color: $danger;
    color: $light;
    padding: 5px 10px;
    transform: translateX(0px);
  }
}

.btn-block {
  @extend %flex-row;
  // @extend %mg10;
  @extend %w100;
  margin: 10px 0;
  justify-content: space-between;
}

.forgot-button {
  @extend %font-btn;
  // @extend %transition-3;
  transition: all 0.2s;
  background-color: transparent;
  color: $danger !important;
  text-decoration: none !important;
  transform: translateX(0px);
  &::after {
    @extend %transition-3;
    margin-top: 5px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $danger;
  }
  &:hover {
    // transform: translateX(2px);
    &::after {
      @extend %w100;
    }
  }
}
.signin-button {
  @extend %flex-row;
  @extend %jcc-aic;
  @extend %font-btn;
  @extend %bdrs8;
  cursor: pointer;
  @extend %shadow-low;
  @extend %transition-3;
  padding: 5px 15px;
  background-color: $success;
  color: white;
  font-weight: 600;
  border: none;
  outline: none !important;
  transform: translateY(0px);
  &:hover {
    box-shadow: 0 5px 1px #528552;
    transform: translateY(-5px);
  }
  &:active {
    transform: translateY(0px);
    box-shadow: 0 0 0 #528552;
  }
  > .fa-sign-in-alt {
    width: 15px;
    height: 15px;
    margin-left: 10px;
  }
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .login-container {
    flex-direction: column;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}
