.content-container {
  padding-left: 116px;
  padding-top: 56px;
  transition: all 0.6s linear;
  &.active {
    transition: all 0.3s linear;
    padding-left: 256px;
  }
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .content-container {
    padding-left: 0;
    transition: all 1.25s;
    &.active {
      transition: all 0.5s;
      padding-left: 0;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}
