.menuoverlay-container {
  @extend %w100-h100;
  z-index: 10;
  margin-top: 58px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: opacity 600ms, visibility 600ms;
  > .user-container {
    @extend %flex-col;
    min-height: 250px;
    padding: 20px;
    align-items: center;
    transition: all 0.5s;
    > .user-image {
      width: 100px;
      height: 100px;
      @extend %mg10;
      transition: all 1s;
    }
    > .user-username {
      @extend %mg10;
    }
    > .user-role {
      @extend %mg10;
    }
    > .user-email {
      @extend %mg10;
    }
  }
  > .btn-container {
    @extend %w100;
    @extend %flex-col;
    button {
      @extend %w100;
      @extend %flex-row;
      @extend %bdn-oln;
      color: white;
      background-color: #fff;
      cursor: pointer;
      padding: 10px 20px;
      min-width: 200px;
      color: #5957b9;
      align-items: center;
      justify-content: space-between;
      &.active {
        color: #fff;
        background-color: #5957b9;
        border-radius: 30px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      transition: all 0.2s;
      transform: translateY(0px);
      &:hover {
        @extend %hover5;
      }
      &:active {
        @extend %active0;
      }
    }
    .fa-home,
    .fa-image,
    .fa-location-arrow,
    .fa-receipt,
    .fa-history {
      @extend %icon20;
    }
  }
  > .signout-container {
    @extend %flex-col;
    @extend %jcc-aic;
    margin-top: 50px;
    > .btn-signout {
      @extend %flex-row;
      @extend %shadow-low;
      cursor: pointer;
      border: #5957b9 solid 2px;
      border-radius: 5px;
      padding: 5px 10px;
      background-color: transparent;
      align-items: center;
      outline: none;
      color: #5957b9;
      > .fa-sign-out-alt {
        @extend %icon15;
        margin-left: 10px;
      }
      transition: all 0.2s;
      &:hover {
        @extend %hover5;
      }
      &:active {
        @extend %active0;
      }
    }
  }
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .menuoverlay-container {
    &.active {
      visibility: visible;
      opacity: 1;
      display: block;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}
